.vs/

*/Debug/
Debug/
*/Release/
Release/
*/x64/
x64/


/window_frame.VC.VC.opendb
/window_frame_host/window_frame_host.VC.VC.opendb
/window_frame_host/window_frame_host.VC.db
/window_frame.VC.db
/window_frame_host/window_frame_host/Debug/window_f.163AB973.tlog/*.lastbuildstate
/window_frame_host/window_frame_host/Debug/window_frame_host.log
/window_frame/window_frame.APS

*.gmx/Configs/*/*
*/options/*/*
*/extensions/*/*.cpp
*/#backups/*
*/datafiles/window_frame.html

export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip

*.sdf
help.rtf
